<ion-header>
  <ion-navbar>
    <ion-title>
      City Announcements
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content id="page4">
  <ion-card *ngFor="let post of feed">
    <img *ngIf="post?.media" src="{{post?.media?.image?.src}}"/>
    <ion-card-content>
      <h1>{{post?.story}}</h1>
      <p>
          {{post?.message}}
      </p>
      <p *ngIf="!post?.message">
        {{post?.description}}
      </p>
    </ion-card-content>
    <ion-row no-padding>
        <ion-col>
          <button ion-button clear small icon-start (click)="openFB(post)">
            <ion-icon name='logo-facebook'></ion-icon>
            View on Facebook
          </button>
        </ion-col>
      </ion-row>
  </ion-card>
</ion-content>